.input {
  margin-bottom: 15px;
}

.results {
  text-align: left;
}

.text {
  margin-bottom: 10px;
}

.definition {
  line-height: 1.15rem;
  margin-bottom: 7px;
}

.addNew {
  border-radius: 5px;
  color: var(--green-ours);
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 0;
  transition: color 100ms;
}

.addNew:hover {
  background-color: var(--purple);
  color: var(--light-green-ours);
}

.addNew.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.addNew.disabled:hover {
  background-color: transparent;
  color: var(--green-ours);
}

.addNew.addWordError {
  color: var(--red-ours);
}
