.backFlip {
  transform: rotateX(-180deg);
}

.card {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 150px;
  transition: transform 300ms;
}

.frontContent {
  animation: frontHideAndSee 300ms;
}

.backContent {
  animation: backHideAndSee 300ms;
  transform: rotateX(-180deg);
}

@keyframes frontHideAndSee {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes backHideAndSee {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
