.button {
  background-color: var(--green-ours);
  border-radius: 10px;
  cursor: pointer;
  padding: 12px;
  min-width: 95px;
  transition: opacity 200ms;
}

.altStyle {
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid var(--green-ours);
  color: var(--green-ours);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:hover {
  opacity: 0.7;
}
