.sidebar {
  background: var(--dark-purple);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  max-height: 100vh;
  max-width: 250px;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding-top: 152px;
  position: fixed;
  right: -100%;
  top: 0;
  transition: 300ms right;
  width: 100%;
  z-index: 100;
}

.sidebar a {
  display: block;
  position: relative;
}

.active::after {
  border-left: var(--green-ours) solid 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
}

.sidebar.slideIn {
  right: 0;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}
