.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 300px;
  padding: 10px;
}

.title {
  font-weight: 400;
  letter-spacing: 0.04rem;
}

.logo {
  margin: 50px 0 30px;
}

.infoText {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
}

.buttons>div:first-child {
  margin-right: 20px;
}